header {
	border-bottom-style: solid;
	border-width: 2px;
	border-color: gray;
	text-align:center;
}

body{
	height: 100vh;
	background-image: url('../img/silver-city-background.jpg');
	overflow: auto;
}

p {
	font-family: "Old Standard TT", serif;
	font-weight: 400;
	font-style: normal;
}

p.bold {
	font-family: "Abril Fatface", serif;
	font-weight: 400;
	font-style: normal;
}

p.italics {
	font-family: "Old Standard TT", serif;
	font-weight: 400;
	font-style: italic;
}

p.connectedCategories {
	font-family: "Old Standard TT", serif;
	font-weight: 400;
	font-style: italic;
}

h1 {
	font-family: "Abril Fatface", serif;
	font-weight: 400;
	font-style: normal;
}

h2 {
	font-family: "Abril Fatface", serif;
	font-weight: 400;
	font-style: normal;
}

h3 {
	font-family: "Abril Fatface", serif;
	font-weight: 400;
	font-style: normal;
	margin-top: 10px;
}

h4 {
	font-family: "Abril Fatface", serif;
	font-weight: 400;
	font-style: normal;
	margin-top: 10px;
	font-size: small;
}

.pagebody {
	display: flex;
}

.column {
  padding: 10px;
  height: 100%;
  margin: 5px;
  background: rgba(109, 53, 0, 0.6);
  border-style: solid;
  border-width: 2px;
  border-color: rgba(212, 204, 192, 1);
  border-radius: 10px;
}

.column.sidebar {
  width: 12%;
  height: 100%
}

.column.maintext {
  width: 88%;
}

.linkList > li  {
	font-family: "Old Standard TT", serif;
	font-weight: 400;
	font-style: normal;
}

ul.linklist > li {
	list-style-type: none;
}

a.broken {
	color: red;
}

a:link:not(.broken, .navLink){
	color: rgba(212, 204, 192, 1)
}

a:visited:not(.broken, .navLink){
	color: rgba(201, 180, 98, 1)
}

hr.mainBodyBreak {
	height:1px;
	border-width:0;
	color:rgba(212, 204, 192, 1);
	background-color:rgba(212, 204, 192, 1);
}

nav.p {
	float: right;
	background-color:rgba(212, 204, 192, 1)	
}

nav.pageNav{
	float: right;
	background-color: rgba(212, 204, 192, 1);
	padding-right: 10px;
	padding-left: 10px;
	margin: 10px;
}

.pageNav > * {
	padding-right: 10px;
	padding-left: 20px;
	margin: 5px;
}

.pageNav > ol {
	text-align: right;
	list-style-position: inside;
}

table.summaryBar{
	width:200px;
	float:right;
	background-color: rgba(212, 204, 192, 1);
}

td.summaryEntryHead{
	text-align:center;
	background-color:rgba(189, 172, 148, 1);
	border-color:rgba(189, 172, 148, 1);
}

td.summaryEntryHead > p {
	margin-top: 4px;
	margin-bottom: 4px;
}

td.summaryImage{
	height: 200px;
	width: 200px;
	table-layout: fixed;
}

td.summaryVariable{
	width: 30%;
	background-color:rgba(189, 172, 148, 1);
	border-color:rgba(189, 172, 148, 1);
}

td.summaryValue{
	width: 80%;
}