body {
	background-image: url("background-images/space/Cas-A-1.jpg");
	background-repeat: no-repeat;
	background-position: center top;
	background-size: cover;
}

header.theBook {
	color: white;
	text-align: center;
	background-color: rgba(0, 0, 0, 0.5);
	border: solid white;
	border-radius: 2em;
	margin: 8px;
}

section.mysteriousText {
	font-style: italic;
}

header.theBook section.mysteriousText {
	margin-top: 32px;
}

header.theBook h1 {
	font-family: "Libre Baskerville", serif;
	font-weight: bold;
	font-size: 1000%;
	letter-spacing: 2px;
	margin-top: .25em;
	margin-bottom: .25em;
}